/* css reset  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
    transition: all 0.5s;
    scroll-behavior: smooth;
}


/* header section start  */

header{
    width: 100%;
}

.wrapper{
    width: 100%;
    height: 4rem;
    background-color: #fff;
    padding: 0 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    font-weight: 500;
}

.right-wrapper span a{
    text-decoration: none;
    color: #0d0d0d;
    font-size: 1.5rem; 
    margin: 0 0.3rem;
}

nav{
    width: 100%;
}

#navbar{
    width: 100%;
    height: 4rem;
    background-color: #0d0d0d;
    padding: 0 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px groove;
}

#logo{
    color: #e60000;
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
    font-size: 2rem;
}

#logo span{
    color: #fff;
}

#navbar ul{
    display: flex;
    align-items: center;
}

#navbar ul li{
    margin: 0 1rem;
    list-style: none;
}

#navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

#navbar ul li a:hover{
    color: #e60000;
}

.menu-box{
    display: none;
}






/* header section media queries start  */

/* big-screen  */

@media (min-width:1200px) and (max-width:1500px){

    .hamburger{
        display: none;
    }
}

/* desktop  */
@media (min-width:1025px) and (max-width:1200px){

    .wrapper{
        padding: 0 5rem;
    }

    #navbar{
        padding: 0 5rem;
    }

    .menu-box{
        display: none;
    }

    .hamburger{
        display: none;
    }
    
}


/* laptop  */

@media (min-width:769px) and (max-width:1024px){

    .wrapper{
        padding: 0 3rem;
    }

    #navbar{
        padding: 0 3rem;
    }

    #navbar ul li{
        margin: 0 0.7rem;
    }

    .menu-box{
        display: none;
    }

    .hamburger{
        display: none;
    }
    
}

/* tablet  */

@media (min-width:481px) and (max-width:768px){

  .wrapper{
    padding: 0 1rem;
    font-size: 0.9rem;
    }

    .wrapper span a{
        font-size: 1rem;
    }

    #navbar{
        padding: 0 1rem;
    }

    #logo{
        font-size: 1.5rem;
    }

    #navbar ul li{
        display: none;
    }

    .menu-box{
        height: 13rem;
        width: 100%;
        background-color: #0d0d0d;
        padding: 0 13rem;
        display: none;
    }

    .menu-box>ul{
        list-style: none;
    }

    .menu-box>ul>li{
        padding: 0.5rem 0;
        font-size: 0.9rem;
    }

    .menu-box>ul>li>a{
        color: #fff;
        text-decoration: none;
    }

    .menu-box>ul>li>a:hover{
        color: #e60000;
    }

    .menu-icon{
        font-size: 1.2rem;
        color: #e60000;
    }
    
}


/* mobile  */

@media (min-width:320px) and (max-width:480px){

    .wrapper{
        padding: 0 0.5rem;
        font-size: 0.9rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        }

    .wrapper span a{
        font-size: 1rem;
    }

    #navbar{
        padding: 0 0.5rem;
    }

    #logo{
        font-size: 1.2rem;
    }

    #navbar ul li{
        display: none;
    }

    .menu-box{
        height: 10rem;
        width: 100%;
        background-color: #0d0d0d;
        padding: 0 8rem;
        display: none;
    }

    .menu-box>ul{
        list-style: none;
    }

    .menu-box>ul>li{
        padding: 0.3rem 0;
        font-size: 0.9rem;
    }

    .menu-box>ul>li>a{
        color: #fff;
        text-decoration: none;
    }

    .menu-box>ul>li>a:hover{
        color: #e60000;
    }

    .menu-icon{
        font-size: 1.2rem;
        color: #e60000;
    }
}


/* header section media queries end  */


/* header section end  */











/* home section start  */

main{
    width: 100%;
}

#home{
    width: 100%;
    height: 35rem;
    background-image: url('imgbox/pexels-cesar-galeão-3253501.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-text{
    text-align: center;
    font-size: 1.2rem;
    color: #fff;
}

.home-text h1{
    font-size: 3.5rem;
}

.home-text h1 span{
    color: #e60000;
}

button{
    width: 12rem;
    height: 2.6rem;
    border: 2px groove #e60000;
    border-radius: 2px 2px 23px 2px;
    background-color: #e60000;
    color: #fff; 
    font-size: 1.2rem;
    margin: 1rem 0;
    cursor: pointer;
}

button:hover{
    background-color: #fff;
    color: #e60000;
}





/* home section media queries start  */

/* laptop  */

@media (min-width:769px) and (max-width:1024px){

    #home{
        height: 30rem;
    }

    .home-text{
        font-size: 1rem;
    }

    .home-text>h1{
        font-size: 3rem;
    }

    button{
        width: 10rem;
        font-size: 1.2rem;
    }
}

/* tablet  */

@media (min-width:481px) and (max-width:768px){

    button{
        width: 7rem;
        font-size: 0.9rem;
    }

    #home{
        height: 25rem;
        position: relative;
        z-index: -1;
    }

    .home-text{
        font-size: 0.9rem;
    }

    .home-text>h1{
        font-size: 2.5rem;
    }
}

/* mobile  */

@media (min-width:320px) and (max-width:480px){

    button{
        width: 7rem;
        font-size: 0.9rem;
    }

    #home{
        height: 25rem;
        padding: 0 0.5rem;
    }

    .home-text>h1{
        font-size: 1.8rem;
    }

    .home-text{
        font-size: 0.9rem;
    }
}


/* home section media queries end  */


/* home section end  */













#banner-1{
    background-image: url('imgbox/banner-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 20rem;
    position: relative;
    z-index: 1;
}



/* media queries for banner-1 start */

@media (max-width:920px){

    #banner-1{
        height: 15rem;
    }
}


/* media queries for banner-1 end  */
















/* about section start  */

#about{
    width: 100%;
    height: 45rem;
    background-color: #0d0d0d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 7rem;
}

.about-text{
    color: #fff;
    text-align: center;
    position: relative;
}

.about-text h3{
    font-size: 2.3rem;
    padding: 0.8rem 0;
}

.about-text h3 span{
    color: #e60000;
}

.about-text p{
    font-size: 1.8rem;
}

.about-text blockquote::before{
    content: '❝';
    position: absolute;
    color: #e60000;
    top: -5px;
    left: -65px;
    font-size: 7rem;
}

.about-text blockquote::after{
    content: '❞';
    position: absolute;
    color: #e60000;
    top: 60px;
    right:-65px;
    font-size: 7rem;
}

.about-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-content-box{
    padding: 0.8rem 2rem;
}

.about-content-box ul li{
    padding: 0.6rem 0;
    list-style: none;
}

.about-content-box ul li h4{
    color: #e60000;
}

.about-content-box ul li p{
    color: #fff;
}

.tip-box{
    color: #ffffff;
    width: 100%;
    padding: 1.5rem 0;
}

.tip-box h3{
    font-size: 1.5rem;
}

#read{
    padding:0.3rem;
    border: 2px solid #e60000;
    color: #e60000;
    width: 10vw;
    cursor: pointer;
}











/* about section media queries start  */

/* desktop */

@media (min-width:1025px) and (max-width:1200px){
    #about{
        height: 55rem;
        padding: 0 5rem;
    }
    
    #read{
        width: 13vw;
    }
}


/* laptop  */

@media (min-width:769px) and (max-width:1200px){

    #about{
        padding: 0 3rem;
        height: 65rem;
    }

    .about-text>blockquote>p{
        font-size: 1.3rem;
    }

    .about-text blockquote::before{
        content: '❝';
        color: #e60000;
        top: 25px;
        left: -45px;
        font-size: 5rem;
    }
    
    .about-text blockquote::after{
        content: '❞';
        color: #e60000;
        top: 80px;
        right:-40px;
        font-size: 5rem;
    }

    .about-content-box{
        height: 38rem;
    }

    #read{
        width: 16vw;
    }
}

/* tablet  */

@media (min-width:481px) and (max-width:768px){

    #about{
        padding:0 1rem;
        height: 70rem;
    }

    .about-text>blockquote{
        padding: 0 1.5rem;
    }

    .about-text>blockquote>p{
        font-size: 1.1rem;
    }

    .about-text blockquote::before{
        content: '❝';
        color: #e60000;
        top: 25px;
        left: 15px;
        font-size: 5rem;
    }
    
    .about-text blockquote::after{
        content: '❞';
        color: #e60000;
        top: 90px;
        right:10px;
        font-size: 5rem;
    }

    .about-content{
        height: 50rem;
    }

    .about-content-box{
        padding: 0.5rem 1rem;
    }

    #read{
        width: 25vw;
    }
}

/* mobile  */

@media (min-width:320px) and (max-width:480px){

    #about{
        padding: 0 0.5rem;
        height: 95rem;
    }

    .about-text>h3{
        font-size: 1.8rem;
    }

    .about-text>blockquote{
        padding: 0 1.5rem;
    }

    .about-text>blockquote>p{
        font-size: 1rem;
    }

    .about-text blockquote::before{
        content: '❝';
        color: #e60000;
        top: 35px;
        left: 25px;
        font-size: 3rem;
    }
    
    .about-text blockquote::after{
        content: '❞';
        color: #e60000;
        top: 90px;
        right:30px;
        font-size: 3rem;
    }

    .about-content{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,1fr);
        height: 72rem;
        font-size: 0.9rem;
    }

    #read{
        width: 35vw;
        font-size: 0.9rem;
    }

    .tip-box>details>ul>li{
        font-size:0.9rem;
    }

    .tip-box>h3{
        font-size: 1.1rem;
    }


}

/* about section media queries end  */


/* about section end  */















/* feature section start  */

#feature{
    width: 100%;
    height: 60rem;
    background-color: #0d0d0d;
    padding: 0 7rem;
}

.feature-text{
      color: #fff;
      text-align: center;
}

.feature-text h3{
    font-size: 2.3rem;
    padding: 2rem 0;
}

.feature-text h3 span{
    color: #e60000;
}

.feature-content{
    display: grid;
    height: 50rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 2rem;    
    cursor: pointer;
}

.feature-content-box{
    box-shadow: 4px 4px 0px #e60000;
    text-align: center;
    transition: transform 0.5s;
}

.feature-content-box:hover{
    transform: translateY(-10px);
}

.feature-content-box img{
    width: 100%;
}

.feature-content-box h3{
    color: #e60000;
    padding: 0.8rem 0rem;
}

.feature-content-box p{
    color: #fff;
    padding: 0 0.8rem;
}








/* feature section media queries start  */

/* desktop  */
@media (min-width:1025px) and (max-width:1200px){

    #feature{
        padding: 0 5rem;
        height: 56rem;
    }

    .feature-content{
        height: 45rem;
    }
}

/* laptop  */

@media (min-width:769px) and (max-width:1024px){

    #feature{
        padding: 0 3rem;
        height: 80rem;
    }

    .feature-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 70rem;
    }
}

/* tablet  */

@media (min-width:481px) and (max-width:768px){

    #feature{
        padding: 0 1rem;
        height: 70rem;
    }

    .feature-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 60rem;
    }
}

/* mobile  */

@media (min-width:320px) and (max-width:480px){

    #feature{
        padding: 0 0.5rem;
        height: 133rem;
    }

    .feature-text>h3{
        font-size: 1.8rem;
    }

    .feature-content{
        display: grid;
        grid-template-columns: 14rem;
        grid-template-rows: repeat(6,19rem);
        justify-content: center;
        height: 125rem;
        font-size: 0.9rem;
    }
}


/* feature section media queries end  */

/* feature section end  */












#banner-2{
    background-image: url('imgbox/banner-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 20rem;
    position: relative;
}


/* media queries for banner-2 start */

@media (max-width:920px){

    #banner-2{
        height: 15rem;
    }
}


/* media queries for banner-2 end  */




















/* trainer section start  */

#trainer{
    width: 100%;
    height: 45rem;
    background-color: #0d0d0d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0 7rem;
}

.trainer-text{
    color: #fff;
    text-align: center;
    position: relative;
}

.trainer-text h3{
    font-size: 2.3rem;
    padding: 0.8rem 0;
}


.trainer-text h3 span{
    color: #e60000;
}

.trainer-text p{
    font-size: 1.8rem;
}

.trainer-text blockquote::before{
    content: '❝';
    position: absolute;
    color: #e60000;
    top: -5px;
    left: -65px;
    font-size: 7rem;
}

.trainer-text blockquote::after{
    content: '❞';
    position: absolute;
    color: #e60000;
    top: 60px;
    right:-65px;
    font-size: 7rem;
}

.trainer-content{
    width: 100%;
    height: 25rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;
}

.trainer-content-box{
    text-align: center;
    background-color: #fff;
    position: relative;
}

.trainer-content-box img{
    width: 100%;
}

.trainer-content-box h3{
    color: #e60000;
}

.trainer-content-box p{
    color: #0d0d0d;
}

.trainer-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.3s;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem 1.4rem;
}

.trainer-overlay:hover{
    opacity: 1;
}

.trainer-overlay span{
    margin: 0.3rem 0;
}

.trainer-overlay span a{
    text-decoration: none;
    color:#fff;
    font-size: 1.5rem;
}

.trainer-overlay span a:hover{
    color: #e60000;
}









/* trainer media queries start  */

/* desktop  */
@media (min-width:1025px) and (max-width:1200px) {
    
    #trainer{
        height: 35rem;
        padding: 0 5rem;
    }
    
    .trainer-content{
        height: 22rem;
    }

    .trainer-content-box{
        height: 20rem;
    }

}


/* laptop  */

@media (min-width:769px) and (max-width:1024px){

    #trainer{
        padding: 0 3rem;
        height: 65rem;
    }

    .trainer-content{
        display: flex;
        justify-content: center;
        display: grid;
        grid-template-columns: 15rem 15rem;
        grid-template-rows: 23rem 23rem;
        height: 50rem;
        gap: 2rem;
    }

    .trainer-text>blockquote>p{
        font-size: 1.3rem;
    }
    
    .trainer-text blockquote::before{
        content: '❝';
        position: absolute;
        color: #e60000;
        top: 20px;
        left: -50px;
        font-size: 5rem;
    }
    
    .trainer-text blockquote::after{
        content: '❞';
        position: absolute;
        color: #e60000;
        top: 85px;
        right:-45px;
        font-size: 5rem;
    }
}

/* tablet  */

@media (min-width:481px) and (max-width:768px){

    #trainer{
        padding: 0 1rem;
        height: 50rem;
    }

    .trainer-text>blockquote>p{
        font-size: 1.1rem;
    }
    
    .trainer-text blockquote::before{
        content: '❝';
        position: absolute;
        color: #e60000;
        top: 20px;
        left: -50px;
        font-size: 5rem;
    }
    
    .trainer-text blockquote::after{
        content: '❞';
        position: absolute;
        color: #e60000;
        top: 80px;
        right:-30px;
        font-size: 5rem;
    }

    .trainer-content{
        display: flex;
        justify-content: center;
        display: grid;
        grid-template-columns: 10rem 10rem;
        grid-template-rows: 17rem 17rem;
        height: 37rem;
    }

    .trainer-overlay>span>a{
        font-size: 1rem;
    }
}

/* mobile  */

@media (min-width:320px) and (max-width:480px){

    #trainer{
        padding: 0 0.5rem;
        height: 97rem;
    }

    .trainer-text>h3{
        font-size: 1.8rem;
    }

    .trainer-text>blockquote>p{
        font-size: 1rem;
    }
    
    .trainer-text blockquote::before{
        content: '❝';
        position: absolute;
        color: #e60000;
        top: 30px;
        left: 0px;
        font-size: 3rem;
    }
    
    .trainer-text blockquote::after{
        content: '❞';
        position: absolute;
        color: #e60000;
        top: 90px;
        right:-10px;
        font-size: 3rem;
    }

    .trainer-content{
        height: 85rem;
        display: grid;
        grid-template-columns: 12rem;
        grid-template-rows: repeat(4,20rem);
        justify-content: center;
        font-size: 0.9rem;
    }

    .trainer-overlay>span>a{
        font-size: 1rem;
    }
}






/* trainer media queries end  */



/* trainer section end  */









/* plan section start  */

#plan{
    width: 100%;
    height: 40rem;
    background-color: #0d0d0d;
    padding: 0 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.plan-text{
      color: #fff;
      text-align: center;
}

.plan-text h3{
    font-size: 2.3rem;
    padding: 2rem 0;
}

.plan-text h3 span{
    color: #e60000;
}

.plan-content{
    width: 100%;
    height: 30rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
}

.left-plan-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1.5rem;
}

.plan-content-box{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.plan-content-box:hover{
    background-color: #242424;
}

.plan-content-box h3{
    font-size: 1.5rem;
}

.plan-content-box span{
    color: #e60000;
}

.plan-content-box p{
    font-size: 1.5rem;
}

.plan-content-box ul li{
    list-style: none;
    line-height: 2rem;
}


.right-plan-content{
    color: #fff;
    padding: 1rem;
    border-left: 4px groove #fff;
}

.right-plan-content h3{
    color: #e60000;
}

.right-plan-content h1{
    font-size: 2rem;
}

.right-plan-content span{
    color: #e60000;
}

.right-plan-content ul li{
    list-style: none;
    line-height: 2rem;
}











/* plan section media queries start  */

/* desktop  */
@media (min-width:1025px) and (max-width:1200px){

    #plan{
        height: 45rem;
        display: grid;
        gap: 0.3rem;
        padding: 0 5rem;
    }

    .plan-content{
        height: 30rem;
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        grid-template-rows: 1fr;
        gap: 2rem;
    }

    .plan-content-box{
        height: 25rem;
    }

    .right-plan-content{
        height: 30rem;
        grid-column: 2/4;
    }
}

/* laptop  */

@media (min-width:769px) and (max-width:1024px){

    #plan{
        padding: 0 5rem;
        height: 65rem;
    }

    .plan-content{
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 2fr 1fr;
        height: 55rem;
    }
}

/* tablet  */

@media (min-width:481px) and (max-width:768px){

    #plan{
        padding: 0 1rem;
        height: 55rem;
    }

    .plan-content{
        height: 48rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .right-plan-content{
        grid-column: 1/3;
    }

    .right-plan-content ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

/* mobile  */

@media (min-width:320px) and (max-width:480px){

    #plan{
        height: 93rem;
        padding: 0 0.5rem;
    }

    .plan-text>h3{
        font-size: 1.8rem;
    }

    .plan-content{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 85rem;
        font-size: 0.9rem;
    }

    .left-plan-content{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .right-plan-content>h1{
        font-size: 1.8rem;
    }
}

/* plan section media queries end  */

/* plan section end  */






/* discount section start  */


#discount{
    height: 15rem;
    background-color: #0d0d0d;
    padding: 0 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.discount-text{
    text-align: center;
}

.discount-text h3{
    color: #fff;
}

.discount-text h1{
    color: #e60000;
}

.discount-text p{
    color: #fff;
}












/* discount section media queries start  */

/* desktop  */
@media (min-width:1025px) and (max-width:1200px){

    #discount{
        padding: 0 4rem;
    }
}

/* laptop  */

@media (min-width:769px) and (max-width:1024px){

#discount{
    padding: 0 3rem;
}

}

/* tablet  */

@media (min-width:481px) and (max-width:768px){

    #discount{
        padding: 0 1rem;
        height: 15rem;
    }
}

/* mobile  */

@media (min-width:320px) and (max-width:480px){

    #discount{
        padding: 0 0.5rem;
        height: 15rem;
        font-size: 0.9rem;
    }
}


/* discount section media queries end  */


/* discount section end  */







#banner-3{
    background-image: url('imgbox/banner-3\ \(2\).jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 20rem;
    position: relative;
}

.banner-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}


/* media queries for banner-3 start */

@media (max-width:920px){

    #banner-3{
        height: 15rem;
    }
}


/* media queries for banner-3 end  */





/* contact section start  */

#contact{
    width: 100%;
    height: 45rem;
    background-color: #0d0d0d;
    padding: 0 7rem;
}

.contact-text{
    color: #fff;
    text-align: center;
}

.contact-text h3{
  font-size: 2.3rem;
  padding: 2rem 0;
}

.contact-text h3 span{
  color: #e60000;
}

.contact-content{
    height: 35rem;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.left-contact{
    display: grid;
    grid-template-rows: 8rem 24rem;
    grid-template-columns: 1fr;
    gap: 1rem;
    grid-row-start: 1;
    grid-row-end: 3;
}

.left-contact-box1{
    padding: 0.8rem 1rem;
}

.left-contact-box1>h2{
    color: #e60000;
}

.left-contact-box1>p{
    color: #fff;
}

.left-contact-box2{
    padding: 1rem;
}


.left-contact-box2 form{
   display: grid;
   grid-template-columns: 5rem 15rem 6rem 15rem;
   grid-template-rows: 2rem 2rem;
   gap: 1.5rem 0.5rem;
}

.left-contact-box2 form label{
    color: #e60000;
}

.left-contact-box2 form input{
    padding: 0.3rem 1rem;
    font-size: 1rem;
    background: none;
    outline: none; 
    border: 1px groove #fff;
}

.left-contact-box2 form input::placeholder{
    color: #fff;
}


.left-contact-box2 form input:focus{
    background-color: #fff;
    border:3px groove #e60000;
}

.left-contact-box2 form textarea{
    padding: 0.3rem 1rem;
    font-size: 1rem;
    background: none;
    outline: none;
    border: 1px groove #fff;
    grid-column: 2/5;
}

.left-contact-box2 form textarea:focus{
    background-color: #fff;
    border:3px groove #e60000;
}

.right-contact{
    color: #fff;
    display: grid;
    grid-template-columns: 3rem 18rem;
    grid-template-rows: 4rem 10rem;
    gap: 1rem;
}

.right-contact-box1{
    grid-column: 1/4;
    color: #e60000;
    padding: 0.8rem 1rem;
}

.right-contact-box2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: #e60000;
    font-size: 1.3rem;
}

.right-contact-box3{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    font-size: 1.1rem;
}






/* contact section media queries  start */

/* desktop  */
@media (min-width:1025px) and (max-width:1200px){

    #contact{
        height: 60rem;
        padding: 0 5rem;
    
    }

    .contact-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 50rem;
    }

    .left-contact{
        grid-column: 1/3;
    }

    .left-contact-box2 form{
        display: grid;
        grid-template-columns:6rem 18rem 7rem 18rem;
    }

}


/* laptop  */

@media (min-width:769px) and (max-width:1024px){

    #contact{
        padding: 0 4rem;
        height: 60rem;
    }

    .contact-content{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 50rem;
    }

    .left-contact{
        grid-column: 1/3;
        height: 35rem;
    }

    .left-contact-box2 form{
        display: grid;
        grid-template-columns: 6rem 12rem 5rem 12rem;
    }
}

/* tablet  */

@media (min-width:481px) and (max-width:768px){

    #contact{
        padding: 0 1rem;
        height: 75rem;
    }

    .contact-content{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
        height: 65rem;
    }

    .left-contact-box2 form{
        display: grid;
        grid-template-columns: 5rem 20rem;
        grid-template-rows: 2rem 2rem 2rem 2rem 8rem;
    }

    .left-contact-box2{
        grid-column: 1/3;
        height: 56rem;
    }

    .left-contact-box2 form textarea{
        grid-column: 2/3;
    }

    .map-box iframe{
        width: 100%;
        height: 100%;
    }

}

/* mobile  */

@media (min-width:320px) and (max-width:480px){

    #contact{
        padding: 0 0.5rem;
        height: 80rem;
    }

    .contact-text>h3{
        font-size: 1.8rem;
    }

    .contact-content{
        height: 70rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
        font-size: 0.9rem;
    }

    .left-contact-box2 form{
        display: grid;
        grid-template-columns: 5rem 11rem;
        grid-template-rows: 2rem 2rem 2rem 2rem 8rem;
    }

    .left-contact-box2 form textarea{
        grid-column: 2/3;
    }

    .left-contact-box2 form ::placeholder{
        font-size: 0.9rem;
    }

    .right-contact{
        display: grid;
        grid-template-columns: 3rem 14rem;
    }

    .right-contact-box3>p{
        font-size: 0.9rem;
    }

    #map{
        width: 100%;
        height: 100%;
    }
}




 
/* contact section media queries end  */


/* contact section end  */






    




/* footer section start  */

#footer{
    width: 100%;
    height: 25rem;
    background-color: #0d0d0d;
    padding: 0 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 6fr 1fr;

}

.footer-box h3{
    color: #e60000;
    padding: 0.5rem 0;
}

.footer-box ul li{
    list-style: none;
    padding: 0.8rem 0;
    color: #fff;
}

.footer-box ul li span{
    color: #e60000;
}

.footer-box ul li a{
    text-decoration: none;
    color: #fff;
}

.footer-box p{
    color: #fff;
    padding: 0.8rem 0;
}

.footer-box form label{
    color: #e60000;
}

.footer-box form input{
    padding: 0.3rem 1rem;
    font-size: 1rem;
    background: none;
    outline: none; 
    border: 1px groove #fff;
    width: 15rem;
}

.footer-box form input::placeholder{
    color: #fff;
}

.footer-box form input:focus{
    background-color: #fff;
    border: 3px groove #e60000;
}

.developer{
    grid-column: 1/4;
    color: #fff;
    text-align: center;
    padding: 0.5rem 0;
    border-top: 2px groove #fff;
}

.developer span{
    color: #e60000;
}






/* footer section media queries start  */

/* desktop  */

@media (min-width:1025px) and (max-width:1200px){
    #footer{
        padding: 0 5rem;
    }

}


/* laptop  */

@media (min-width:769px) and (max-width:1024px){

    #footer{
        padding: 0 3rem;
        height: 25rem;
        font-size: 0.85rem;
    }
}


/* tablet  */

@media (min-width:481px) and (max-width:768px){

    #footer{
        height: 32rem;
        padding: 0 1rem;
        font-size: 0.8rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr;
    }

    #subscribe-box{
        grid-column: 1/3;
    }
}

/* mobile  */

@media (min-width:320px) and (max-width:480px){

    #footer{
        padding: 0 0.5rem;
        height: 55rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:1fr 1fr 1fr 4rem;
        font-size: 0.9rem;
        gap: 0.8rem;
    }

    .footer-box{
        grid-column: 1/2;
    }
}


/* footer section media queries end  */

/* footer section end  */
















